@font-face{

font-family: "brand";
src: url("fuentes/PottaOne-Regular.ttf");
}

@font-face{
    font-family: "text";
    src: url("fuentes/IstokWeb-Regular.ttf");
    
}


body{
    height: 100%;
}
body{
    background-color: #EECF6D ;
    margin: 0;
    font-family: "text";
    font-size: 17px;
    display: flex;
    flex-direction: column;
    
    
    
}

header{
    background-color: #8B6220;
    display:flex;
    width: 100%;
    position: fixed;
    left:0;
    top: 0;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
}

h1.brand{
    font-family: "brand";
}

span{
    transition: all .5s ease-in-out;
    margin:0;
    padding: 0;
    font-style: oblique;
    text-shadow: 0 0 20px #fefcc9, 2px -2px 3px #feec85, -4px -4px 5px #ffae34, 5px -10px 6px #ec760c, -5px -12px 8px #cd4606, 0 -15px 20px #973716, 2px -15px 20px #451b0e;
}

a span:hover{
    text-shadow: 0 0 20px #fefcc9, 2px -2px 3px #feec85, -4px -6px 7px #ffae34, 5px -15px 8px #ec760c, -5px -20px 10px #cd4606, 0 -15px 22px #973716, 2px -25px 22px #451b0e;
    
    

}     
   
    
    


span.brand{
    color: #45050C;
}

span.brand2{
    color: #720E07;
    font-size: 50px;
    
}

main.maximoEspacio{
    min-height: 100vh ;
}

main{
    
    margin: 10%;
    margin-top:3.5cm;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #D5AC4E;
    box-shadow:10px 20px 100px black;
}    
    
h2{
    text-align: center;
    font-style: oblique;
    font-size: 3em;
    text-shadow: rgb(245, 245, 176) 3px 2px 2px;
}    

section{
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px ;
}
    


section.intro{
    text-align: center;
}  

strong{
    font-size: 20px;
}

p.ubi{
    width: 20cm;
    text-align: center;
    margin-right: 60px;
}
div.ubi{
    display: flex;
    justify-content: center;
    align-items: center;
}


div.borde{
    border: #8B6220 solid 5px;
    line-height:0;
    border-radius: 5px;
    
}

img{
    width: 100%;
}

div.shop{
    font-size: 1.5em;
    transition:all .5s ease-in-out;
}  
 
div.shop:hover{
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
    
}

div.shop {overflow:hidden;} 

a.a1:link, a.a1:visited, a.a1 :active {
    font-weight: bold;
    color : #45050C;
    text-shadow: #720E07 1px 2px;
    text-decoration: none;
}

a:link, a:visited, a:active {
    text-decoration: none;
}    


summary{
    font-size: 1.5em;
    font-family: "brand";
    color: #720E07;
    margin: 20px;
    outline: none;
    text-shadow: 2px 3px 2px black;
} 

details[open] summary {
    	
    transition:all .5s ease-in-out;
    color: #E9EEF0;
    border-radius: 5px 5px 0 0;
}

details summary::-webkit-details-marker {
    display: none;
}

img.ropa{
    width: 10cm;
    height: 10cm;
    border-radius: 10px;
    transition:all .5s ease-in-out;
}

img.ropa:hover{
    filter: grayscale(80%);
    

}

div.ropa:hover {
    -webkit-transform:scale(0.8);
    transform:scale(0.8);
    
}
div.ropa {overflow:hidden;}

div.ropa{
    transition:all .5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.ropa{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

footer.ropa{
    margin: 20px;
    font-weight: bold;
    
}

footer.info{
    background-color: #8B6220;
    display: flex;
    justify-self: flex-end;
    
    padding: 5px 20px;
    font-weight: bold;
    
    
}   




div.derecha{
    position: absolute;
    
    right: 0.3cm;
}


form{
    margin: 20px;
    text-align: center;
}

strong{
   font-style: oblique;
}







 

